@page "/"

<h3>Welcome to Our Donation Campaign</h3>
<p>Help us make a difference by contributing to our projects.</p>
<p>Learn more about our mission on the <a href="/about-us">About Us</a> page.</p>