@inherits LayoutComponentBase
 

<div >
    <NavMenu />

    <div >
        @Body
    </div>

@*     <footer class="footer py-3" style="background-color: #41464B;">
        <p class="mb-0 text-white">&copy; 2023 DonationApp. All rights reserved.</p>
    </footer> *@
</div>
 

