@inherits LayoutComponentBase
 

<div class="main-layout d-flex flex-column min-vh-100">
    <NavMenu />

    <div class="main-content flex-grow-1 p-4">
        @Body
    </div>

    <footer class="footer py-3" style="background-color: #41464B;">
        <p class="mb-0 text-white">&copy; 2023 DonationApp. All rights reserved.</p>
    </footer>
</div>
@*  <div class="page">   <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main></div> *@

