@inject CustomAuthStateProvider AuthProvider
@inject NavigationManager Navigation

<h3>Login</h3>

<input @bind="username" placeholder="Enter username (admin/user)" />
<input type="password" @bind="password" placeholder="Enter password" />
<button @onclick="LoginUser">Login</button>

@if (isLoggedIn)
{
    <p>Welcome, @username!</p>
    <button @onclick="Logout">Logout</button>
}

@code {
    private string username = "";
    private string password = "";
    private bool isLoggedIn = false;

    private void LoginUser()
    {
        AuthProvider.Login(username,password);
        isLoggedIn = true;
        StateHasChanged();
    }

    private void Logout()
    {
        AuthProvider.Logout();
        isLoggedIn = false;
        StateHasChanged();
    }
}
